header{
      display: block;
	    background-color:#efc69c00;
      padding: 2px;
      text-align: center;
      height: 75px;
      width: 101%;
      clear: both;

}

.topnavcol{
    	background-color:#774f05fa;
      overflow: hidden;
      width: 101%;
}

.topnavl a {
      float: left;
      display: block;
      color: #f2f2f2;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      background-color: #774f05fa;
}
.topnavl a:hover {
      color: black;
      background-color: white;
      border: 4px double grey;
     
}  

.topnavr a {
      float: right;
      display: block;
      color: #f2f2f2;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      background-color: #774f05fa;
}

.topnavr a:hover {
      color: black;
      background-color: white;
      border: 4px double grey;
}  

#pal{
     background-color:#774f05a1;
     height: 40px;
     width: 101%;
     text-align : center;
     z-index: -1;
} 

.tp{
     margin: 3%;
}

.wrapp{
    margin-left: 15%;
    margin-top: 5%;
    text-align: center;
    width:70%;
    word-wrap: break-word;
    font-size: 120%;
    color:  #8b5c04;
}

.wraptop{
  margin-top: 5%;
}

div.trek1{
    margin: 5px;
    border: 3px solid grey;
    float: left;
    width: 220px;
    height: 150px;
    padding: 3%;
    background-color: #774f05a1;
}

div.trek1:hover {
    border: 3px solid white;
    border-radius: 5px;
}

div.trek1 img {
    width: 100%;
    height:auto;
}

div.desc {
    padding: 15px;
    color:white;
}



/* Slideshow container */
.slideshow-container {
  max-width: 500px;
  position: relative;
  margin: auto;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}





footer{
      display: block;
      margin-top: 38%;
      background-color:#774f05a1;
      padding: 20px;
      width: 101%;
      clear: both;
}
a{   
      display: inline;
      text-decoration: none;
      color: black;
    
}



form{
    display: inline-block;
    border: double 3px black;
    padding: 3%;
}

#contactcss {
  margin-left: 35%;
}

