#profilepic {
    margin-top: 3%;
    margin-left: 46%;
}

#product_details {
    margin-top: 2%;
    text-align: center;
    color: #774f05fa;
    font-size: 130%;
    font-weight: bold;
}

#booking_details {
    margin-top: 2%;
    text-align: center;
    color: #774f05fa;
    font-size: 130%;
    font-weight: bold;
}

#personal_details1 {
    margin-top: 5%;
    text-align: center;
    color: #774f05fa;
    font-size: 130%;
    font-weight: bold;
}

#personal_details2 {
    margin-top: 2%;
    text-align: center;
    color: #774f05fa;
    font-size: 130%;
    font-weight: bold;
}

#personal_details3 {
    margin-top: 2%;
    text-align: center;
    color: #774f05fa;
    font-size: 130%;
    font-weight: bold;
}

#personal_details4 {
    margin-top: 2%;
    text-align: center;
    color: #774f05fa;
    font-size: 130%;
    font-weight: bold;
}

#event_price {
    margin-top: 2%;
    margin-bottom: 7%;
    text-align: center;
    color: #774f05fa;
    font-size: 130%;
    font-weight: bold;
}

#product_price {
    margin-top: 2%;
    text-align: center;
    color: #774f05fa;
    font-size: 130%;
    font-weight: bold;
}